@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #0032a8;
}

.container {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 8px;
    margin: 50px;
}

.title {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    color: #efefef
}

.icon {
    color: #efefef;
    font-size: 180px;
}

.desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablet {
    display: none;
    flex-direction: column;
    align-items: center;
}

.smartphone {
    display: none;
    flex-direction: column;
    align-items: center;
}

/* Media Queries */
@media (max-width: 900px) {
    body {
        background-color: #a9001c;
    }

    .desktop {
        display: none;
    }

    .tablet {
        display: flex;
    }
}

@media (max-width: 600px) {
    body {
        background-color: #007d1f;
    }

    .tablet {
        display: none;
    }

    .smartphone {
        display: flex;
    }
}