@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #343e4e;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

header {
    padding: 20px 40px;
    background-color: #24282c;
    align-items: center;
}

header h1 {
    grid-column: span 6;
}

header nav {
    grid-column: 7 / span 6;
    justify-self: right;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

main {
    padding: 20px;
    margin: 60px auto;
    max-width: 1200px;
}

main img {
    grid-column: span 6;
    width: 100%;
}

main .welcome {
    grid-column: 8 / span 6;
    text-align: center
}

main h3 {
    grid-column: span 12;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
}

main .card {
    text-align: center;
    grid-column: span 4;
    background-color: #24282c;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    padding: 20px 40px;
    background-color: #24282c;
    align-items: center;
}

footer .card {
    text-align: center;
    grid-column: span 4;
    background-color: #738aa0;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Media Queries */
@media (max-width: 1150px) {
    main img {
        grid-column: 2 /span 10;
    }

    main .welcome {
        grid-column: 3/ span 8;
    }

    main .card {
        grid-column: 3 / span 8;
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        text-align: center;
        grid-column: span 12;
        margin: 0;
    }

    header nav {
        grid-column: span 12;
        justify-self: center;
    }

    main img {
        grid-column: span 12;
    }

    main .welcome {
        grid-column: span 12;
    }

    main .card {
        grid-column: span 12;
    }
}