/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Styling for grid-item divs to make alternating colours */
.container div {
    background-color: #095f75;
    padding: 1em;
}

.container div:nth-child(even) {
    background-color: #eb811e;
}

/* Grid Code Below */

.container {
    display: grid;
    /* grid-template-columns: 2fr 2fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 100px 200px; */
    gap: 0.5em;
}