body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #232323;
}

#nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;

    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a{
    text-decoration: none;
    color: #fff;
    
}