* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(../Images/pexels-lumn.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(225, 225, 225, 0.1);
    z-index: 10;
    border: 3px solid rgba(225, 225, 225, 0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(15px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container nav {
    height: 7%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;

}

.container .logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

.container .logo::first-letter {
    color: blueviolet;
    font-size: 35px;
}

.container nav ul li {
    display: inline-block;
    padding: 0 20px;
}

.container nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
}

.container nav ul li a:hover {
    color: blueviolet;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
    padding-left: 80px;
}

.content .section-1 {
    position: relative;
    width: 40%;
}

.content .section-1 h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.content .section-1 h3 {
    font-size: 24px;
    color: blueviolet;
    margin-bottom: 10px;
}

.content .section-1 p {
    font-size: 15px;
    color: #505052;
    margin-bottom: 50px;
}

.content .btn {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: blueviolet;
    border: 3px solid blueviolet;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

.content .btn:hover {
    background-color: #fff;
    color: blueviolet ;
}

.content .section-2 {
    width: 60%;
    position: relative;
}

.content .section-2::after {
    content: '';
    position: absolute;
    background-color: blueviolet;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: -1;
    top: 20%;
    left: 20%;
}

.content .section-2 img {
    width: 90%;
}

.content .social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 10px;
    top: 30%;
}

.content .social a {
    font-size: 25px;
    color: #7c8bd1;
    transition: 0.3s;
}

.content .social a:hover {
    color: blueviolet;
}