@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

.box {
    color: #fff;
    font-size: 100px;
    text-align: center;
    padding: 15px;
}

.container {
    border: 3px solid black;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
}

.box1 {
    background-color: #ff4557;
}

.box2 {
    background-color: #1e90ff;
}

.box3 {
    background-color: #2ed573;

}


/* Flexbox Code Below: */

.box {
    display: flex;
    justify-content: center; 
}
