body{
    background-color: aqua;
}
.box{
    width: 150px;
    height: 150px;
    background-color: dodgerblue;
    border: 2px solid black;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;

    float: right;
}

p{
    clear: left;
}

