.container {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
}

.item-1 {
    background-color: blueviolet;
}

.item-2 {
    background-color: aqua;
}

.item-3 {
    background-color: cornflowerblue;
}